@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');    

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    background-color: #0033A0;
    margin: 0;
    padding: 0;
    color: #ffffff;
    min-width: 320px;

}
h1 { 
    color: white;
    font-size: 28px;
    text-shadow: 1px 1px black;
}
a {
    color: white;
    font-size: 16px;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5); 
}
a:hover {
    font-size: 16px;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.8);
}
a:active {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5); 
}
b { font-size: 14px; 
    color: #cef; 
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5); 
    letter-spacing:1px;
    text-align:center; }
p {
    width: 800px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    border: 2px outset #686f70;
    padding: 4px;
    background: rgba(0,0,0,0.1);

}

img {
    border-radius: 12px;
    max-width: 95%;
    max-height: 95%;
    height: auto;
    margin: auto;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bigimg {
    border-radius: 12px;
    max-width: 56%;
    max-height: 56%;
    height: auto;
    margin: auto;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    background: rgba(0,0,0,0.25);
    border-radius: 12px;
    border: 2px outset #686f70;
    color: white;
    width:95%; 
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    text-shadow: 1px 1px black;
    margin: 5px 0;
}
button:hover {
    background: rgba(0,0,0,0.35);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.24);
}
button:active {
    background: rgba(0,0,0,0.45);
}
input, select {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-radius: 6px;
    border: 2px outset #686f70;
    padding-left: 10px;
}
.blink_me {
  animation: blinker 2s linear infinite;
}
@keyframes blinker {  
  50% { opacity: 0; }
}
